/backend/node_modules
/backend/.env
/backend/.env.development
/backend/.env.production
/backend/.env.test
/backend/.env.test.development
/backend/.env.test.production
/backend/.env.test.test
/backend/.env.test.test.development
/backend/.env.test.test.production

/status/node_modules
/status/.env
/status/.env.development
/status/.env.production
/status/.env.test
/status/.env.test.development
/status/.env.test.production
/status/.env.test.test
/status/.env.test.test.development
/status/.env.test.test.production

/frontend/node_modules
/frontend/.env
/frontend/.env.development
/frontend/.env.production
/frontend/.env.test
/frontend/.env.test.development
/frontend/.env.test.production
/frontend/.env.test.test
/frontend/.env.test.test.development
/frontend/.env.test.test.production

/backend/.git
/.secrets
.secrets